:root {
  --dark: #403F4C;
  --red: #E84855;
  --yellow: #F9DC5C;
  --azure: #3185FC;
  --pink: #EFBCD5;
}

html {
  font-size: 1vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overscroll-behavior: none;
}

.App {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

.page__section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}

.page__dividedsection {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
}

.page__subsection {
  width: 50%;
  height: 100vh;
}

.pink_background {
  background-color: var(--pink);
}

.red_background {
  background-color: var(--red);
}

.yellow_background {
  background-color: var(--yellow);
}

.blue_background {
  background-color: var(--azure);
}

@media screen and (max-width: 750px) {
  .page__section {
    height: 70vh;
  }
  
  .page__dividedsection {
    height: auto;
  }

  .page__subsection {
    scroll-snap-align: start;
    width: 100%;
    height: 50vh;
  }
}