:root {
  --dark: #403F4C;
  --red: #E84855;
  --yellow: #F9DC5C;
  --azure: #3185FC;
  --pink: #EFBCD5;
}
html {
  font-size: 1vw;
}

.App {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}