:root {
  --first: #4C5B61;
  --second: #829191;
  --third: #C5C5C5;
  --fourth: #949B96;
  --fifth: #2C423F;

}


html {
  font-size: 1vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overscroll-behavior: none;
}

.App {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

.page__section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}

.page__dividedsection {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
}

.page__subsection {
  width: 50%;
  height: 70vh;
}

.pink_background {
  background-color: var(--fifth);
}

.red_background {
  background-color: var(--second);
}

.yellow_background {
  background-color: var(--third);
}

.blue_background {
  background-color: var(--fourth);
}

.inner-content {
  margin-top: 1em;
  padding: 12rem;
  padding-right:5em;
  padding-top: 4em;
}

.page__title h1 {
  font-size: calc(24px + 3em);
  color: rgba(0,0,0,0);
  -webkit-text-stroke: 1px white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 900;
}

.page__subtitle h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  line-height: 1.6;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 105%;
}
@media screen and (max-width: 930px) {
  img {
    margin-top: 6em;
    height:80%;
  }
}

@media screen and (max-width: 750px) {
  .page__section {
    height: 70vh;
  }
  
  .page__dividedsection {
    height: auto;
  }

  .page__subsection {
    scroll-snap-align: start;
    width: 100%;
    height: 50vh;
  }
}